@import url('https://fonts.googleapis.com/css2?family=Ewert&family=Rye&display=swap');
:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: #173885;
  color: #e3ddde;
  text-align: center;
}
